<h1>VOD Numbers</h1>

<table>
  <thead>
    <tr>
      <th>Posted by</th>
      <th>Movie</th>
      <th>VOD Revenue</th>
      <th>Source url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revenue_posts.each do |revenue_post| %>
      <tr>
        <td><%= link_to revenue_post.user.first_name, user_path(revenue_post.user) %></td>
        <td><%= link_to revenue_post.movie_title, movie_path(revenue_post.movie) %></td>
        <td><%= number_to_currency(revenue_post.revenue, precision: 0) %></td>
        <td><%= link_to "Source", revenue_post.source_url %></td>
        <td><%= link_to 'Show', revenue_post %></td>
        <td><%= link_to 'Edit', edit_revenue_post_path(revenue_post) %></td>
        <td><%= link_to 'Destroy', revenue_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Revenue Post', new_revenue_post_path, class: "button radius" %>
