<h1>VOD Numbers</h1>

<div class="panel">
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :movie_title_cont, "Movie title contains" %>
      <%= f.search_field :movie_title_cont %>
    </div>
    <div class="actions"><%= f.submit "Search", :class => 'button radius' %></div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :movie_title, "Movie" %></th>
      <th>Year</th>
      <th><%= sort_link @search, :revenue, "VOD Revenue" %></th>
      <th>Source url</th>
      <th>Posted by</th>
    </tr>
  </thead>

  <tbody>
    <% @revenue_posts.each do |revenue_post| %>
      <tr>
        <td><%= link_to revenue_post.movie_title, revenue_post_path(revenue_post) %></td>
        <td><%= revenue_post.movie.year if revenue_post.movie %></td>
        <td class="right"><%= number_to_currency(revenue_post.revenue, precision: 0) %></td>
        <td><%= link_to "Source", revenue_post.source_url %></td>
        <td><%= link_to revenue_post.user.first_name, user_path(revenue_post.user) %><h5><small><%= time_ago_in_words revenue_post.created_at %> ago</small></h5></td>
      </tr>
    <% end %>
  </tbody>
</table>

