<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Share Your Numbers: Bring transparency to the independent film industry" %></title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%= render 'layouts/navbar' %>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div data-alert class="alert-box <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
        <%= content_tag :div, msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  <% end %>

  <% if @homepage %>
    <div class="homepage"><%= yield %></div>
  <% else %>
    <div class="wrapper row clearfix">
      <%= yield %>
    </div>
  <% end %>


  <%= render 'layouts/footer' %>

  <%= javascript_include_tag "application" %>
</body>
</html>