<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Share Your Numbers: Bring transparency to the independent film industry" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Share Your Numbers", root_path %></a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="has-form">
            <%= link_to "Share!", new_revenue_post_path, :class => "button"%>
          </li>
          <li class="divider"></li>
          <li><%= link_to "VOD Numbers", '/vod' %></li>
          <li class="divider"></li>
          <%= render 'devise/menu/registration_items' %>
          <li class="divider"></li>
          <li><%= link_to "Movies", movies_path %></li>
          <li class="divider"></li>
          <li><%= link_to "About", '/about' %></li>
          <li class="divider"></li>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </section>
    </nav>

    <% if @homepage %>
      <div class="homepage"><%= yield %></div>
    <% else %>
      <div class="row">
        <div class="medium-12 columns"><%= yield %></div>
      </div>
    <% end %>



    <%= javascript_include_tag "application" %>
  </body>
</html>